:root {
  --bot-color: rgb(103, 255, 251, 0.3);
  --user-color: rgb(245, 244, 248, 0.8);
}

/* html och body ska kommenteras ut när css används på webflow */
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

body {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  background: rgb(46,51,71);
  background: linear-gradient(180deg, rgba(46,51,71,1) 0%, rgba(61,123,131,1) 100%, rgba(0,212,255,1) 100%);}

/* Container för hela dialogrutan */
.input-form {
  width: 450px;
  max-width: 100%;
  height: 400px;
}

/* Container för botens svar */
.bot-answer-container {
  display: flex;
  justify-content: flex-end;
}

/* Container för användarens svar */
.user-answer-container {
  display: flex;
  flex-direction: column;
}

/* Botens första svar */
.bot-answer {
  background-color: var(--bot-color);
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 12px;
  font-size: .9rem;
  position: relative;
  animation: slide-up 0.4s ease;
}

/* Botens andra svar */
.bot-answer-2 {
  background-color: var(--bot-color);
  color: white;
  padding: 0.7rem 1rem 0.7rem 1rem;
  border-radius: 12px;
  font-size: .9rem;
  position: relative;
  animation: slide-up 0.4s ease;
}

/* Lägger till "svans" på botens svar */
.bot-answer:after, .bot-answer-2:after{
	content: '';
	position: absolute;
	right: -10px;
	top: 70%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: var(--bot-color);
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
}

/* Användarens första svar */
.user-answer {
  color: #333;
  background-color: var(--user-color);
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 12px;
  font-size: .9rem;
  animation: slide-up 0.4s ease;
  cursor: pointer;
  position: relative;
  width: fit-content;
  transition-duration: 0.5s;
}

/* Användarens svar */
.user-answer-1 {
  color: #333;
  background-color: var(--user-color);
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 12px;
  font-size: .9rem;
  cursor: pointer;
  position: relative;
  width: fit-content;
  animation: slide-up 0.4s ease;
  transition-duration: 0.5s;
}

/* Användarens svar */
.user-answer-2 {
  color: #333;
  background-color: var(--user-color);
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 12px;
  font-size: .9rem;
  position: relative;
  width: fit-content;
  animation: slide-up 0.4s ease;
  transition-duration: 0.5s;
}

/* Lägger till "svans" på användarens svar */
.user-answer-2:after {
	content: '';
	position: absolute;
	left: -10px;
	top: 70%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: var(--user-color);
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
}

/* Hover-effekt för användarens svar */
.user-answer:hover,
.user-answer-1:hover {
  transform: translateX(5px);
  background: rgba(245, 244, 248, 0.55);
}

/* Animation för både användarens och botens svar */
@keyframes slide-up {
  0% {
    opacity: 1;
    transform: translateY(75px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Laddningsanimationen med tre punkter som körs när sidan laddas */
.loading {
  width: fit-content;
}

.dot {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #60bdb5;
  display: block;
  float: left;
  margin: 0 0 0 8px
;
}

.dot:first-child {
  margin: 0;
}

.one {
  animation: cycleOne 1s ease-in-out infinite;
  animation-direction: normal;
}

.two {
  animation: cycleTwo 1s ease-in-out infinite;
  animation-direction: normal;
}

.three {
  animation: cycleThree 1s ease-in-out infinite;
  animation-direction: normal;
}

@keyframes cycleOne {
  0% {
    background: #60bdb5b6;
  }
  33.333% {
    background: #60bdb5;
  }
  66.6667% {
    background: #60bdb5b6;
  }
  100% {
    background: #60bdb5b6;
  }
}

@keyframes cycleTwo {
  0% {
    background: #60bdb5b6;
  }
  33.333% {
    background: #60bdb5b6;
  }
  66.6667% {
    background: #60bdb5;
  }
  100% {
    background: #60bdb5b6;
  }
}

@keyframes cycleThree {
  0% {
    background: #60bdb5b6;
  }
  33.333% {
    background: #60bdb5b6;
  }
  66.6667% {
    background: #60bdb5b6;
  }
  100% {
    background: #60bdb5;
  }
}
